body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5D3C64;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
}

.card {
    background-color: #b36788;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: background-color 0.2s , transfrom 0.2s ease;
}

 h1 { 
    color: #0C0420;
}

button {
    background-color: #e7a5c4;
    color: #333333;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
} 

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}